<div class="alert alert-success" role="alert">
  <h1><%= @task.title %></h1>
  <p><%= @task.details %></p>
</div>
<p>
  <input type="checkbox" <%= "checked" if @task.completed %> />
  This task is
  <%=
    if @task.completed
      "completed"
    else
      "not completed yet"
    end
  %>
</p>
<hr>
<p><%= link_to "Back to list", tasks_path %></p>